.img-preview {
  border-radius: 50%;
  margin-top: 5.5%;
}

.upload {
  position: relative;
}

.upload-button {
  display: none;
  /* margin-left: 15%;
  margin-top: 3%; */
  justify-content: center;
}

.custom-file-upload {
  /* position: absolute; */
  /* background-color: antiquewhite; */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #5f2eea;
  /* margin-top: -58.5%; */
  /* margin-left: -29%; */
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .img-preview {
    width: 15vw;
    height: 15vw;
  }

  .custom-file-upload {
    margin-top: -14%;
    margin-left: -8%;
    cursor: pointer;
  }
}

@media screen and (max-width: 428px) {
  .img-preview {
    width: 40vw;
    height: 40vw;
  }

  .custom-file-upload {
    margin-top: -35%;
    margin-left: -20%;
    cursor: pointer;
  }
}