.two {
  background-color: white;
  max-width: 1440px;
  
}
.bg{
  background-color: #e5e5e5
}
.fazz {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: #6379f4;
  padding: 2.5%;
    // background-color: #88888f;
}
.fazzpay{
  cursor: pointer;
}
.man-wrap {
  text-align: end;
  
}

.row-f {
  background-color: #ffffff;
}

.fazzy {
  padding: 2%;
}

.name {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  color: #3a3d42;
}

.num {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-top: -25%;
  color: rgba(58, 61, 66, 0.9);
  text-align: left;
}

.wrap-img {
  // background-color: #88888f;
  text-align: end;
  padding: 1.5%;
}

.bell {
  padding: 3%;
  // background: #000;
}

.man {
    width: 2vw;
    height: 2vw;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
  }