.wr-img {
    width: 40vw;
    margin-top: 3%;
    border-radius:12px;
    border: #1ec15f;
    height: 4.5vw;
    box-shadow: -2px 3px 58px -22px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 3px 58px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 58px -22px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  .man2 {
    width: 3vw;
    height: 3vw;
  margin-top: 2%;
  margin-left: 5%;
  }

  .suhi {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4d4b57;
    margin-left: 3%;
    //   background-color: #6379f4;
  }

  .acc2 {
    margin-left: 16%;
    margin-top: -3%;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7a7886;
    ;
  }