.inp-otp{ 
    text-align: center;
}
.sec-pin{
    border: solid;
    border-radius: 12px;
    width: 25vw;
    height: 15.5vw;
    margin: auto;
    background-color: white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.p2{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */
padding: 2%;


color: rgba(58, 61, 66, 0.6);
}

.p1{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
padding: 2%;
padding-top: 5%;


/* Zwallet/Dark */

color: #3A3D42;

}
.btn-pin{
    //float:right;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border: none;
    text-align: center;
    width: 7vw;
    height: 2vw;
    margin-top: 6%;
    margin-left: 67%;
    color: #FFFFFF;
   
}
.sec-x{
    width: 1vw;
    height: 1vw;
    position: absolute;
    margin-left: 22.5%;
    margin-top: 1.5%;
}